<launch>

<remap from = "/vrpn_client_node/cup/pose" to= "/vrpn_mocap/cup/pose"/>
<remap from = "/vrpn_client_node/Arm/pose" to= "/vrpn_mocap/Arm/pose"/>

  <!-- <node
    pkg="twist_publisher_pkg"
    type="mocap_arm_broadcaster.py"
    name="mocap_arm_broadcaster" 
    output="screen"
  />
  
  <node
    pkg="twist_publisher_pkg"
    type="mocap_cup_broadcaster.py"
    name="mocap_cup_broadcaster" 
    output="screen"
  /> -->

    <node
    pkg="twist_publisher_pkg"
    type="gp2_node.py"
    name="gp2_node" 
    output="screen"
  />

<!-- 
  <node
    pkg="twist_publisher_pkg"
    type="pred_cup_broadcaster.py"
    name="pred_cup_broadcaster" 
    output="screen"
  /> -->
  
  <node pkg="tf2_ros" type="static_transform_publisher" name="robot_base_broadcaster" args="2.84 -0.010 0.885 0 0 0 1 world base_link" />
  <param name="/use_sim_time" value="true"/>
</launch> 